<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Vouch.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>3738ACA786668B153EE16D1D16747C55D96D9486</string>
				<key>dateExpires</key>
				<string>20/01/22</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>8CT5QRAZ8Y.com.vouch.vault</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.applesignin</key>
				<array>
					<string>Default</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>8CT5QRAZ8Y</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>Vouch.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>db0f715b-327e-4862-85cf-827e484270ac</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.vouch.vault</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>8CT5QRAZ8Y</string>
				<key>name</key>
				<string>Vouch Vault, Inc</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
